body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 15px;
}
h1, h2 ,h3{
    margin-top: 5%;
    text-align: center;
}
.header-fixed {
    background-color: #ceefd2;
    height: 40px;
    margin: 0;
    position: sticky;
    top: 3%;
    z-index: 1;
    margin-top: 8%;
    overflow: hidden;
}
form {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
label {
    display: block;
    margin-top: 25px;
}
input, select, textarea {
    width: 60%;
    padding: 5px;
    margin-top: 3px;
    width: 30%;
}
button {
    justify-content: center;
    background-color: #6c6c6c;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
    transition: background-color 0.3s ease;
}
button:hover{
    background-color: #45a049;
}
#OrderDate {
    width: 15%;
    padding: 5px;
    margin-top: 5px;
}
#dayOfWeekResult {
    color: #ff0000;
    display: inline-block;
}
.hidden-menu {
    display: none;
}
.hidden-menu.active {
    display: block;
    width: 100%;
}
.sleep-part{
    background-image: url(".jfif");
    max-width: 60%;  /* הגדרת רוחב מקסימלי ל-60% */
    margin-left: auto;  /* מרכוז אוטומטי משמאל */
    margin-right: auto;  /* מרכוז אוטומטי מימין */
    width: 100%;  /* שימוש ברוחב מלא עד למקסימום המוגדר */
}
.sleep-header-container {
    display: flex;
    justify-content: center;
    align-items: baseline;
    width: 100%;
    text-align: center;
}
#sleep-header {
    margin-top: 0;
    margin-left: 20px; /* רווח גדול יותר בין הכותרת לטקסט */
}
.sleep-subtext {
    font-size: 0.8em;
}
.comment-sleep {
   color:#ff0000;
   text-align: center;

}
#options {
    margin-top: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px; /* Adds space between the buttons */
}
#options button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}
.room-map {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
    grid-template-rows: auto;
    gap: 5px;
    margin-top: 20px;
    width: 100%;  /* הוספנו את זה */
}

.room {
    padding: 5px;
    border: 1px solid #ccc;
    text-align: center;
    cursor: pointer;
    word-break: break-word;  /* הוספנו את זה */
}
.room.selected {
    background-color: #4CAF50;
    color: white;
}
#place-a{
    margin-top: 3%;
    background-color: #e7e3e3;
    padding: 5px;
}
#place-b {
    margin-top: 3%;
    background-color: #f4dada;
    padding: 5px;
}
#place-c {
    margin-top: 3%;
    background-color: #d3ebff;
    padding: 5px;
}
.BigApartment {
    background-color: #a19090;
    font-size: 12px;
}
.menu-item {
    margin-bottom: 10px;
}
.quantity-control {
    display: inline-block;
    margin-left: 10px;
}
.quantity-control button {
    width: 25px;
    height: 25px;
}

/* מרכזת את האלמנט <section id="menuSection"> */
#mealSelection {
    display: flex;
    flex-direction: row; /* שינוי מ column ל row */
    align-items: center;
    justify-content: space-between; /* או כל ערך אחר שמתאים לך */
    text-align: center;
    margin: 0 auto; /* מרכזת את האלמנט באופן אופקי */
    max-width: 800px; /* מגבלת רוחב מקסימלי */
    padding: 20px; /* ריווח פנימי */
}

#menuOptions {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px; /* ריווח תחתון */
}

#menuOptions.hidden {
    display: none;
}

#numberOfMeals {
    display: flex;
    justify-content: center;
    margin-bottom: 20px; /* ריווח תחתון */
}

.menu-button, .menu-button-meal {
    background-color: #4CAF50; /* צבע רקע */
    border: none; /* מסגרת */
    color: white; /* צבע טקסט */
    padding: 10px 20px; /* ריווח פנימי */
    text-align: center; /* יישור טקסט */
    text-decoration: none; /* קו תחתי */
    display: inline-block; /* תצוגה */
    font-size: 16px; /* גודל גופן */
    margin: 4px 2px; /* ריווח חיצוני */
    cursor: pointer; /* סמן */
    border-radius: 5px; /* פינות מעוגלות */
    transition-duration: 0.4s; /* משך זמן של שינוי עיצוב */
}

.menu-button.selected, .menu-button-meal.selected {
    background-color: #f44336; /* צבע רקע כאשר נבחר */
}
.total-price {
    top: 10%;
    position: fixed;
    font-size: 1.2em;
    font-weight: bold;
    text-align: center;
    margin-bottom: 50px;
    padding: 10px;
    background-color: #a19090;
    border-radius: 5px;
    z-index: 5;
}
#SumTotal {
    color: #ff0000;
}
.finish-header {
    background-color: #ceefd2;
    width: 80%;
}
.share-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
}
.share-button {
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.share-button img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}